.home-container {
  padding: 30px 40px;
}

.home-container h1 {
  font-size: 40px;
}

.home-container p {
  color: #7E7E7E;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 30px;
}

.home-container a {
  color: #FFF;
  background: #1890FF;
  padding: 8px 18px;
  border-radius: 4px;
}

.home-container a:hover {
  color: #FFF;
}